[2015-11-03 12:47] bgidley opened #1 "HASec Charter Comment"
Irdeto would like to request this group consider including software security solutions into the scope of the charter.

Software Security can provide equivalent and/or complementary implementations of TEE environments on many platforms. They have identical challenges in terms of API's to reach the software security containers.

For example looking at the current scope
Secure Hardware Discovery & At

[2015-11-03 20:08] kpfleming opened #2 "Contribution mechanism?"
This repository contains only HTML versions of the charters, but I assume that's not how they were authored. I have some changes to propose, and it would be easiest to send a pull request, but I can't send it against the source files because they aren't here :-)

How would you like to receive contributions?

[2015-11-04 18:58] wseltzer commented on #2
They were authored in HTML, so you have the source. Feel free to send PRs or put the text into issues.

[2015-11-04 19:11] kpfleming commented on #2
OK, thanks. Is there any plan to update the web-authentication charter to use the fancy template that the ha-sec charter uses?

[2015-11-04 19:22] wseltzer commented on #1
Thanks @bgidley, can you share a pointer to a bit more detail on what you intend by "Software Security"?

Given the push-back against DRM in the EME context, we would need to have a clearly defined scope to ask people to to support it here.

[2015-11-04 19:26] wseltzer commented on #2
The styling could be a mixed-content issue that's resolved when w3.org goes https

[2015-11-04 19:43] bgidley commented on #1
I mean things like
- http://www.whiteboxcrypto.com/
- http://irdeto.com/venture-lab/ventures/cloaked-js.htm
- https://www.arxan.com/products/cryptographic-key-protection/
- There are no full open source implementations (I know of) of a full solution - but some of the (older and broken) algorithms do exist in open source form.

This technology can be used in many ways - in this context the main ele

[2015-11-16 14:27] #2 closed, assigned to nobody

[2015-12-17 09:06] rigow opened #6 "Creation of mailing-list with Group creation"
For all other comments, we should just use public-web-security

[2015-12-17 09:14] rigow opened #7 "Include changes from Virignie 23 Nov docx"
Virginie sent around a document 23 Nov with change control. Those changes have to be integrated into the charter

[2015-12-17 09:17] rigow opened #8 "Comments from Martin Paljak"
From the list of specifics, I envision two interesting things:
- Secure Hardware IO <- which should cover all our current use cases,
  with the current wording (is _not_ bound to origin)
- Secure Worker <- makes me wonder a bit, what would be the use case and
  what kind of hardware do you envision? TEE protected JS execution? Or
  the current native messaging extended to include a secure environm

[2015-12-17 09:17] rigow opened #9 "Comments from Jörg Heuer"
I find the charter pretty good already and I'd have no objections. Nevertheless here are a few comments and proposals for additions:

I'd add 'Entitlements' to the list of Goals, which would encompass keys, tickets, etc. These are authorizations which are not derived from an identity, but from mere possession. Ticketing already takes place on the basis of SEs e.g.

In the wake of the introduction

[2015-12-17 09:22] rigow opened #10 "Comments from 茱滴 (Alibaba)"
High level: the Crypto API、Web Storage API、Web Worker etc  in this charter
have already been defined in the W3C, so it is not clear the scope and the
definition of the hardware aspect. You may need to clarify clearly in the
charter.

Details:
1.       The mission of the  https://w3c.github.io/websec/Overview.html
   Hardware Security Working Group, part of the
   https://w3c.github.io/Security/Act

[2015-12-17 11:36] vgalindo commented on #7
Thanks rigo !

[2015-12-17 11:38] vgalindo commented on #10
initial text : The mission of the https://w3c.github.io/websec/Overview.html Hardware Security Working Group, part of the https://w3c.github.io/Security/Activity.html Security Activity, is to define a set of Hardware-Based Web Security standard services providing Web Applications usage of secure services enabled by hardware modules
--> suggestion
The mission of the https://w3c.github.io/websec/Ove

[2015-12-17 11:39] vgalindo commented on #10
initial text : Secure Hardware Crypto Key Management: Importing, creating, deleting keys for a particular origin. Working Group would define trust/permission model for use of this API.
--> suggestion
Secure Hardware Crypto Key Management: Importing, creating, deleting keys for a particular origin. Working Group would define trust/permission model for use of cryptographic functions

[2015-12-17 11:42] vgalindo commented on #10
initial text : Secure Hardware IO: Means to ask for and obtain user input that is protected against compromised operating system or UA/Browser depending on the level provided. This could return a digitally signed (by the hardware component) response from the user.
--> suggestion
Secure Hardware user interaction: Means to ask for and obtain user input that is protected against compromised operating

[2015-12-17 11:54] vgalindo commented on #10
On comment about secure worker
Secure worker will be a web-worker-like execution thread, which operations will be executed in a secure way, no further clarification needed in the charter, I guess.

[2015-12-17 11:56] vgalindo commented on #10
On comment about identity
That identity semantic is about using national identity scheme, the way it is phrased here is very abstract, thus it may seem redundant with other work happening in other identity related items. We need to make that sentence linked with the gov use case.
--> suggestion
Identity semantics: Means to extract citizen identity information from a
secure hardware under control o

[2015-12-17 12:11] vgalindo commented on #1
@bgidley and @wseltzer
Few elements to feed that discussion :
- DRM is not use case being part of the current scope, we are targeting crypto, identity and payment
- the charter targets hardware based security in order to differentiate from the pure software security (which is discussed in web app sec and web crypto)
- as WG progresses, we will have to define what is hardware security and what are

[2015-12-17 12:38] bgidley commented on #1
Just in case it's not clear my comment is not about DRM, the root of the comment is by calling the group 'Hardware' it's pre-deciding that software (e.g. whitebox) is not a valid option to implement such solutions which I'd maintain it is. This doesn't change anything else about the groups approach - all the same problems and solutions apply - except ensuring the implementation is open.

[2015-12-17 12:44] martinpaljak commented on #1
The thing with software-only solutions vs hardware solutions is that people are usually free to do whatever they want with software (within given limits and API-s), but interacting with hardware requires _hardware access_. Which requires specialized interfaces and support from the environment (read: browsers in this case).

[2015-12-17 13:25] vgalindo commented on #9
About ticketing
I suggest that we keep this in the scope for study, aka, not promising any delivery, our use cases list is already huge. I would put that at the same level as payment. We know we need to do something about it, but we dont know what. The 18 months of the charter will allow us to describe use cases and technical requirements, I guess.
--> we need to think about the wording for ticket

[2015-12-17 13:35] vgalindo commented on #9
About comment :
In the wake of the introduction of entitlements, privacy, pseudonymity and anonymity should be encompasses in the Scope section.
--> proposition :
remove "Protection against fingerprinting (tracking users through information about their Browser environment) must be a prime consideration in all APIs."  and replace by :
"Because web app using services providing some security sensitiv

[2015-12-17 22:18] rigow commented on #10
All suggested changes except for the _Identity semantics_ edited and pushed into repository

[2015-12-18 13:33] rigow commented on #9
Done

[2015-12-18 15:21] wcarr commented on #10
With a lot of different issues, it can be better to raise separate issues on the separate topics.  That way people with the same issue can discuss it there and it's clearer which parts have already been addressed.  I suggest raising new separate issues for anything not still addressed.

[2015-12-18 15:36] wayneca commented on #10
Secure Worker comment

A Web Worker executes in the Web Browser.  A compromised Browser or OS means execution of the Worker could be tampered with.  A Secure Worker would execute in a hardware secure context where that can't happen.  Web Workers have a set of APIs available to them.  Other types of Workers can have different APIs.   Service Workers is an example of that.   Secure Workers would hav

[2015-12-18 15:48] wayneca commented on #10
on the general comment at the top

The W3C Web Cryptography WG will complete its spec and then will end its work.  This proposed WG is picking maintenance of that up.

Storage here will be in a secure hardware component where it can't be tampered with.  The other APIs for storage could be implemented that way.  But, there's no guarantee they are.  The WG will decide on the API, but it could be ver

[2015-12-18 15:51] wayneca commented on #10
Is everything taken care of except identity?  If so, I suggest closing this Issue and opening another one on that, so people can see the Issue is about that and comment on it.

[2015-12-18 16:17] wayneca commented on #9
Suggested a wording clarification in #11

I think with W3C's use of "Recommendation" instead of "Specification", the original text could look like other specs could be created.  That couldn't happen in W3C, but it wasn't clear enough.

[2015-12-18 16:29] wayneca commented on #9
The [NFC WG](http://www.w3.org/2012/nfc/) is gone.  There is a [Web NFC Community Group](https://www.w3.org/community/web-nfc/).   In the past, Charters have listed a huge laundry list of WGs because every WG is relevant in some way, so there has been a move towards listing just particularly strong connections.  (like every WG should talk to the accessiblity, I18N, security and privacy folks).

Do

[2015-12-18 16:35] wayneca commented on #8
There are lots of different hardware secure environments.  These specs likely would abstract those.  They would be used in the underlying implementation.

Likely implementation is the Browser proxying requests to hardware it knows how to deal with.  The communication for Secure Workers would be through message APIs like for Web Workers.  The Browser would know how to deliver that message to the un

[2015-12-18 16:39] wayneca commented on #8
This isn't about web intent style messaging to native code.  There are APIs that the Browser (UA) implements and the Browser knows how to interact with the underlying implementation, so the spec doesn't have to say how that's done.  So, a general mechanism for talking to arbitrary code outside the Browser is not needed (and not in scope).

Any kind of general passing arbitrary messages to any arbi

[2015-12-18 16:41] wayneca commented on #7
Where is the 23 November doc?  Sent where?

[2015-12-18 16:42] wayneca commented on #6
What is this referring to?  What is the issue?

[2015-12-18 16:55] wayneca commented on #1
The Charter I think already enables that somewhat.

That last part allows for a type of implementation that is isolated from the Browser, but not from the OS - so could be tampered with if the OS was compromised.  That's for cases where there may be some hardware assistance but not a complete solution, so part of it could be native code the Browser calls which in turn uses hardware.  How that was

[2015-12-19 08:08] cyberphone commented on #8
Before Intel actually provides a specification anything is in scope

[2015-12-19 08:11] cyberphone commented on #8
Before Intel actually provides a specification of "something" and the WG is officially launched, virtually "anything" related (including Native Messaging) is by definition in scope

[2015-12-19 08:39] cyberphone commented on #8
The browser vendors have anyway decided to support Native Messaging:
https://lists.w3.org/Archives/Public/public-webappsec/2015Oct/0071.html

[2015-12-19 13:02] cyberphone commented on #8
Before Intel actually provides a specification of "something" and the WG is officially launched, virtually "anything" related (including Native Messaging) is by definition in scope.

The browser vendors have anyway decided to support Native Messaging:
https://lists.w3.org/Archives/Public/public-webappsec/2015Oct/0071.html

Intel is BTW also a user of Web-2-Native solutions:
http://ipt.intel.com/Ho

[2015-12-19 13:05] cyberphone commented on #8
Before Intel actually provides a specification of "something" and the WG is officially launched, virtually "anything" related (including Native Messaging) is by definition in scope.

The browser vendors have anyway decided to support Native Messaging:
https://lists.w3.org/Archives/Public/public-webappsec/2015Oct/0071.html

Intel is BTW also a user of Web-2-Native solutions:
http://ipt.intel.com/Ho

[2015-12-20 13:09] wayneca opened #14 "Web payments access Restricted Scope Item is too vague or doesn't belong in that section"
The point of the Restricted Scope Items list in the Charter is to be very specific about the technical nature of the Working Group Recommendation deliverables (where "Recommendation" is W3C's term for what other standards organizations call "Specification").  That is so prospective participants can estimate the type of patents that they may be required to license by joining the group (according to

[2015-12-20 13:44] wayneca opened #15 "Scope privacy and fingerprinting paragraph needs rewording"
Current text in proposed Charter:

Suggested alternative wording:

[2015-12-20 14:09] wayneca opened #16 "Identity semantics comments in its own Issue"
Identity semantics comments were in two Issues that covered multiple topics.  Copying those to an Issue just on that since it seems an issue not resolved yet. (doing this so the other issues could be closed if the rest of them were settled and also so that people with comments on this topic would see it had been raised and could comment on it)

Question on this in #10

[Response in that issue](htt

[2015-12-20 15:13] wayneca commented on #8
@cyberphone

I thought you misunderstood the description of secure worker and thought it would require what you call "native messaging" and that you thought it would need to be added to the Charter.  I was trying to explain that the proposed APIs do not require that so it isn't required by the Charter as written now.

I assume now that what you meant is what has been brought up in multiple existin

[2015-12-20 16:05] wayneca commented on #8
I should have mentioned:  The current version of the charter includes permitting RESTful Web Services versions of the APIs.  So there would be a message based format for these APIs.  If, in the future in some other W3C WG, Web Web Intents with service registration by trusted native apps was defined, then the message formats defined in this group could be used.  Nothing different would need to be d

[2015-12-20 18:57] cyberphone commented on #8
If we stick to the kind of applications that most people associate with security hardware (authentication and payments), I remain unconvinced that a "pure" Web effort will be able providing something which matches the functionality offered by (the nowadays deprecated) browser plugins.

In fact, the browser vendors are about to throw out existing functionality like on-line key-generation (https://l

[2015-12-21 04:42] cyberphone commented on #8
It is important keeping in mind that Google is the to-date only entity that managed creating a hardware security solution (U2F) that is integrated the whole way up to the Web.  Then then got close to the entire industry backing it as well.

To succeed with such an undertaking your need:
* A strong vision ("what problem you want to solve")
* Management buy-in
* A reasonably well tested technical so

[2015-12-21 04:45] cyberphone commented on #8
It is important keeping in mind that Google is the to-date only entity that managed creating a hardware security solution (U2F) that is integrated the whole way up to the Web. Then then got close to the entire industry backing it as well.  http://poulpita.com/2015/02/11/fido-alliance-an-amazing-standardization-story/

To succeed with such an undertaking your need:

* A strong vision ("What problem

[2015-12-21 05:47] cyberphone commented on #8
It is important keeping in mind that Google is the (to-date) only entity that have managed creating a hardware security solution (U2F) that is integrated the whole way up to the Web.  Then they also got close to the entire industry backing it.
http://poulpita.com/2015/02/11/fido-alliance-an-amazing-standardization-story/

To succeed with such an undertaking you need:
* A strong vision ("What probl

[2015-12-21 05:56] cyberphone commented on #8
It is important keeping in mind that Google is the (to-date) only entity that have managed creating a hardware security solution (U2F) that is integrated the whole way up to the Web. Then they also got close to the entire industry backing it.
http://poulpita.com/2015/02/11/fido-alliance-an-amazing-standardization-story/

To succeed with such an undertaking you need:

* A strong vision ("What probl

[2015-12-21 07:18] cyberphone commented on #8
It is important keeping in mind that Google is the (to-date) only entity that have managed creating a hardware security solution (U2F) that is integrated the whole way up to the Web. Then they also got close to the entire industry backing it.
http://poulpita.com/2015/02/11/fido-alliance-an-amazing-standardization-story/

To succeed with such an undertaking you need:
- A strong vision ("What proble

[2015-12-21 10:32] bgidley commented on #1
To help make this concrete the item I'm worried about would be
- If this spec (to be worked out later I suspect) enables discovery of PKCS11/JCA/Some other API 'devices' on the host OS would it expose only those backed by hardware or all of them?

Irdeto have a FIPS140-2 keystore that can be deployed entirely in software and exposed over standardised 'crypto' API's like PKCS11 to the application s

[2015-12-21 10:52] vgalindo commented on #16
@wcarr thanks for helping the discussion being focused
Taking into account the broad vision suggested by @rigow I am suggesting the following wording :

including in the charter, for the identity API : "Means to extract identity information from a secure hardware under control of the user. This API will define a set of services, abstract enough to be usable with citizen identity, loyal identity or

[2015-12-21 10:54] vgalindo commented on #15
@wcarr :+1: with this suggestion.

[2015-12-21 10:58] vgalindo commented on #14
@wcarr :+1:
Lets put that in a separate section, scope section will be okay. I expect only to have 'discussion document' on that topic and a beginning of architecture after 18 months, as this work will strongly depends on Web Payment progress

[2015-12-21 14:37] vgalindo commented on #1
@bgidley Provided that a) whiteboxcrypto is not standard, is complex to describe and relies on proprietary tricks,  and b) that by incuding it into the charter we will open the scope to any form of security by software, then I suggest we do not mention it directly into the charter.
In addition, keeping the words hardware security,is a good 'flag' for teh people interested in proven security, with

[2015-12-21 14:44] bgidley commented on #1
I think your comment illustrates my point - you're equating 'hardware security' with a proven level of security - which is not an objectively true statement. Some hardware security is strong, some is weak, some software security is strong and some is weak. Which is stronger is varies on use-case, current state of the art etc.

I'm seeking to ensure we keep the standard open to all sorts of impleme

[2015-12-21 15:14] vgalindo commented on #1
@bgidley
there are two problems underlying our conversation 1) the name of the WG that is here for historical reasons and to scope the area we want to discuss, 2) the place left to whiteboxcrypto technology to implement the APIs that the WG will define. For the implementation of the API, as mentionned in the charter, there will be no limitation. So to sumup, as it is, the charter does not exclude

[2015-12-21 15:22] bgidley commented on #1
I'm ok with name of the group being hardware - but I'd like to see somewhere in the doc an explicit acknowledgement of your position it does not exclude software enablers to security.

e.g it says

How about

[2015-12-21 15:45] cyberphone opened #17 "HaSec: Making phone tokens "phishsafe""
Since phone tokens have become the most popular 2FA-method for authenticating to on-line services, it is somewhat disappointing that most of these systems are fully "phishable".

Is there a Hardware solution to this problem you may wonder? Yes, using NFC.

[2015-12-22 10:24] vgalindo commented on #17
@cyberphone I think that this is not an issue that WG will address, as the authentication aspects are treated in the Web Authentication WG (under W3C members review)

--> I suggest we close that issue

[2015-12-22 10:33] vgalindo commented on #10
@rigow @wcarr I guess issue part related to identity semantic can be closed, thanks Wayne.

[2015-12-22 10:36] vgalindo commented on #10
@wcarr On the storage aspects, I believe there is no need to define a 'storage API' in the hardware security working. there will be some services to manage keys, to manage identities, but not really a service allowing to store any type of data. I think this is where the confusion is coming... What do you think ?

[2015-12-22 10:45] cyberphone commented on #17
@vgalindo I guess your refer to: http://w3c.github.io/websec/web-authentication-charter

If this represents FIDO alliance's view of phone tokens (?), it is limited to U2F and also _fundamentally departs_ from how phone tokens actually are used since at least 15 years back.

Naturally you should close the issue if you feel that this work should be carried out somewhere else.

[2015-12-22 11:09] cyberphone commented on #16
Since a citizen identity can't be bound to an origin it is a non-starter since the browser vendors have clearly expressed that they won't support such a thing as an _integral part of the browser_.  In fact, they are actively trying to _remove_ the limited support that exists today.

[2015-12-22 16:27] vgalindo commented on #17
@cyberphone I am refering to that WG, I believe this is where that discussion should happen.

--> I suggest we close the issue.

[2015-12-22 16:42] cyberphone commented on #17
@vgalindo This discussion won't happen in that WG since the sole purpose of the Web Authentication WG (_given the current charter NB_), is rewriting FIDO documents (_without changing anything since that would break implementations_) into the W3C format and then calling them W3C standards which is of no interest to anybody but the W3C.

Closing the issue as requested.

[2015-12-22 16:42] #17 closed, assigned to nobody

[2015-12-22 22:24] cyberphone commented on #8
Google is now about creating yet another proprietary Native Messaging solution
https://github.com/w3c/webpayments/issues/42#issuecomment-166705416
that only works for payments.

[2015-12-23 21:35] rigow opened #18 "Clarify licensing in charter"
Suggested from Wayne. Be very clear which license the WG should use, the forking or the non-forking option

[2015-12-24 11:42] kepengli commented on #10
Do we have a related draft spec for the proposed work?

I heard that for the new proposed work, it is recommended to have a draft spec to help people to understand the proposal, and understand the potential outcome.

[2015-12-24 11:47] kepengli commented on #16
In IETF, there is a SCIM (System for Cross-domain Identity Management ) work: https://datatracker.ietf.org/wg/scim/charter/. The work is almost done. The System for Cross-domain Identity Management (SCIM) working group will standardize methods for creating, reading, searching, modifying, and deleting user identities and identity-related objects across administrative domains, with the goal of simpl

[2015-12-24 12:25] cyberphone commented on #16
@kepengli As far as I understand SCIM is about things happening on the server/cloud level rather than in the UA or local security hardware.  SCIM may drive use-cases involving the UA but for provisioning an identity via the UA into a end-user device there are no standards at all.  FWIW, the latter is something I have worked with in various contexts for over a decade:
https://cyberphone.github.io/o

[2015-12-30 15:01] cyberphone opened #19 "HaSec: Hardware protected user I/O"
This has been proposed by parties like GlobalPlatform.

What's missing here is a discussion what is actually achievable and approximately how.  There appears to be a number of problems with this concept such as:
- How are users supposed to recognize the difference between a trusted and (potentially) non-trusted display?
- How is a trusted display programmed?  Simply downloading HTML doesn't seem t

[2015-12-30 15:03] cyberphone commented on #10
Opened a separate HW-secured IO issue: https://github.com/w3c/websec/issues/19

[2015-12-31 07:12] cyberphone opened #20 "HaSec: HW-protected WebCrypto Keys"
This can be achieved by creating a single new method which approximately would work as the registration in U2F.  That is, attestation would be a part of the result.

There have been suggestions adding an attribute to keys saying if they are HW-protected or not.  This is not necessary since attestation during key generation/registration provides such information and in a SOP-restricted concept like

[2015-12-31 07:13] cyberphone commented on #10
Opened a separate HW WebCrypto issue: https://github.com/w3c/websec/issues/20

[2016-01-07 09:49] vgalindo commented on #20
@cyberphone what is exactly your issue ? I dont see anything to solve here that will impact the charter.
--> I suggest we close the issue (ping @rigow)

[2016-01-07 09:51] vgalindo commented on #19
@cyberphone that discussion will happen once the WG will be open. Lets keep your contribution for achive.
--> I suggest we close this issue (ping @rigow )

[2016-01-07 09:57] cyberphone commented on #20
@vgalindo It is simply a clean-up of one of the multiple issues mentioned by Alibaba.  It doesn't impact the charter more (or less) than the original issues so feel free do whatever you want with it :-)

[2016-01-07 10:01] cyberphone commented on #19
@vgalindo This is an input specification.  I hope that the WG won't open without having such on the table.  Fee free do whatever you want with this :-)

[2016-01-07 11:25] rigow commented on #18
I had an offline discussion with Wayne and the new document license seems fine

[2016-01-07 11:25] #18 closed, assigned to nobody

[2016-01-07 11:29] rigow commented on #10
We don't have a Specification of the proposed work and this is not necessary according to the process in order to start work. Having a Draft Specification before having a charter may be useful in some context and less useful in some other context.

I think all comments from Alibaba were addressed, so closing the issue as suggested by Wayne

[2016-01-07 11:29] #10 closed, assigned to rigow

[2016-01-07 11:31] rigow commented on #20
Ok, so closing this issue. As it does not affect the charter but is one of the possible choices within the charter I suggest further discussion within the WG, not over the charter..

[2016-01-07 11:31] #20 closed, assigned to nobody

[2016-01-07 11:32] rigow commented on #19
@cyberphone I count on you to re-raise the issue once the WG is running. Closing for the moment

[2016-01-07 11:32] #19 closed, assigned to nobody

[2016-01-07 11:41] rigow commented on #16
Of course SCIM and eIDAS haven't coordinated at all. But SCIM does not need hardware components. A HASEC API and service should be able to cater to SCIM and eIDAS alike, but it is not meant to use only one or the other. As this is not affecting the charter, I'm closing the issue.

[2016-01-07 11:41] #16 closed, assigned to nobody

[2016-01-07 11:49] cyberphone commented on #16
@rigow It is possible that this issue has multiple interpretations.  Provisioning of identities in HW-protected containers is a complex topic that's currently missing.

[2016-01-07 11:56] rigow commented on #16
@cyberphone  I think it is not missing, but hidden in the eIDAS use case and the "services" definition. If you're ok with this, I keep the issue closed, if not let us reopen the issue

[2016-01-07 11:59] rigow commented on #7
@vgalindo can you check the current charter? I think most of the document from 23 Nov has been merged into the charter and has already moved from there. If not, please tell and I will create a pull request

[2016-01-07 12:19] cyberphone commented on #7
The end-date is extremely optimistic given the fact that there are no input documents.  Three years seem like a more plausible time-line.

[2016-01-07 16:06] vgalindo commented on #7
@wcarr that doc was sent ot the team only, a long time ago.
@rigow  Changes have been integrated
@cyberphone the WG need to gather and contributions are expected.
--> I suggest we close that issue

[2016-01-07 16:09] vgalindo commented on #1
@bgidley I would be happy with
"This Working Group’s scope is Hardware-Based Web Security standard services, enabling Web pages the use of secure services enabled by security modules (TEE, secure elements,and other secure enablers with a demonstrated robustness to physical or software attacks)."
What do you think ?

[2016-01-07 16:10] bgidley commented on #1
That works - I was struggling with how to express the differentiation - robustness is a good way to do it.

[2016-01-07 18:19] rigow commented on #7
Ok and done

[2016-01-07 18:19] #7 closed, assigned to nobody

[2016-01-07 19:13] rigow commented on #15
Committed by https://github.com/w3c/websec/commit/b51f544572432bedcf569dbb7d411fa3f175f58a

[2016-01-07 19:13] #15 closed, assigned to nobody

[2016-01-08 17:50] wseltzer opened #22 "A more concise github repo for webauth"
w3c/webauthn has been proposed (rather than w3c/web-authentication)

[2016-01-11 17:15] vgalindo commented on #14
I suggest we create a 2.3 section
2.3 Other Deliverables
The Working Group will work on web payments access thanks to a cooperation with the Web payments WG. The expected non normative deliverables are use case and an architecture document, focusing on payment integration in the web payment API designed when payment means relies on hardware.
@rigow, @wcarr  what do you think ?

[2016-01-11 17:16] vgalindo commented on #9
@rigow I suggest we close this issue, as being resolved.

[2016-01-11 17:17] vgalindo commented on #8
@rigow I suggest we close this issue.

[2016-01-11 17:23] vgalindo commented on #1
@bgidley thanks for your answer.
@rigow could you please implement that change and close the issue.

[2016-01-12 03:30] wayneca commented on #14
yes, looks good.  this can close with that.

[2016-01-12 03:44] wayneca commented on #18
I'm not sure which one that means.  Shouldn't there be a licensing section like in the [Web Authentication WG Charter](http://w3c.github.io/websec/web-authentication-charter#licensing) to say which of the two Document licenses?

[W3C Software and Document License](http://www.w3.org/Consortium/Legal/2015/copyright-software-and-document)

[W3C Document License](http://www.w3.org/Consortium/Legal/201

[2016-01-21 10:49] vgalindo commented on #8
@rigow lets create an additional sentence to mention we will analyse mechanisms such as native messaging.

[2016-01-21 16:53] wayneca commented on #8
@vgalindo I'm not sure what that would mean.  It shouldn't be in the restricted scope section.  "native messaging" has nothing at all to do with secure hardware.  It's a more general capability of somehow finding and sending messages from Web pages to native applications on the user's device.  It is often suggested as an alternative to standardization, e.g. just directly use a popular native appli

[2016-01-21 17:17] cyberphone commented on #8
@wcarr Web Intents and localhost schemes are unsuitable for security applications since they do not provide a security context to the invoked application.

The purpose of at least my take on Native Messaging is not to eliminate the need for Web standards, but to enable a more flexible way of creating such.  That is, there would be one master standard, and any number of tightly scoped slave-standar

[2016-01-21 17:34] wayneca commented on #8
@cyberphone This proposed WG is not trying to provide a scheme for directly interacting with arbitrary services in any secure hardware.  It's meant to work on a specific set of APIs that the Browser will implement and the Browser will be the one to connect to secure hardware it knows how to connect to.  The API itself doesn't have to include how that underlying Browser implementation works.

[2016-01-21 18:22] cyberphone commented on #8
@wcarr I'm aware of that.  However, there's no proof that this is actually technically feasible unless we are talking about rather specific schemes limited by SOP like U2F.  If the latter is not the case, it in reality means that the WG in progress have found a solution to the following "enigma":
https://cyberphone.github.io/openkeystore/resources/docs/web2native-bridge.pdf#page=3

Unless you are

[2016-01-22 11:22] rigow opened #23 "Common mechanism for accessing hardware tokens"
In a first step and in order to cater to the existing mechanisms, it was discussed whether HASEC would be able to use "native messaging" as suggested by Martin Paljak and @cyberphone. This was also recently discussed in WebAppSec and a first draft by @mikewest in https://github.com/mikewest/cors-rfc1918 was issued that advanced the discussion on that question

[2016-01-22 19:36] wayneca commented on #8
@cyberphone
[https://cyberphone.github.io/openkeystore/resources/docs/web2native-bridge.pdf#page=3](https://cyberphone.github.io/openkeystore/resources/docs/web2native-bridge.pdf#page=3)

I think that page does get at the disconnect we're having.  It says:

and

Nothing like that is proposed in the restricted scope sections.  A web page would NOT form any arbitrary connection to a secure element.

[2016-01-22 19:57] wayneca commented on #23
There was a related discussion in #8 -- better to have a discussion like this with a relevant title.

My comment on this is at [https://github.com/w3c/websec/issues/8#issuecomment-174021754](https://github.com/w3c/websec/issues/8#issuecomment-174021754)

The SysApps WG (now closed) had in its charter a Secure Element API spec for sending arbitrary messages to a Secure Element.  My impression was t

[2016-01-23 06:53] cyberphone commented on #23
@rigow @wcarr

Since there are no input specifications, there's nothing to discuss.

I would consider creating a HW Security IG and then if an acceptable specification surfaces spawn a WG for that purpose or make it a part of an existing WG if that's better.

[2016-01-23 22:32] martinpaljak commented on #23
@wcarr I think that nobody is thinking that SE level API would be meaningful or is something that is (supposed to be) discussed. I guess nobody outside of smart card vendors gets excited when they hear "APDU" and rightfully so. Instead of trying to figure out some kind of fancy and super abstract API for accessing secure hardware and expect browsers to implement it maybe, in the future, it makes s

[2016-01-24 10:24] cyberphone commented on #23
Since the lack of input specifications is an issue, here is a minimal specification (_completely unrelated to Native Messaging_) for supporting HW-protected keys in WebCrypto:

**crypto.subtle.generateAttestedKey**(_algorithm_,_keyUsages_,_nonce_).then(function(_key_, _attestation_)

This method is derived from **crypto.subtle.generateKey**(-_extractable_ +_nonce_),  while _attestation_ is approxi

[2016-01-25 22:17] wayneca commented on #23
@martinpaljak I don't see anything in the proposed charter that would support sending APDUs.(other than this Issue trying to get that in).

@cyberphone In considering charters, people can discuss whether they're interested in an approach without going into the details of a sample spec.  e.g. do they care about the use case at all?  (IGs can't create specs - no patent policy - but a CG could, and t

[2016-01-25 23:10] wayneca commented on #23
@cyberphone I made a pull request #25 to modify the discovery and attestation restricted scope item to make it clearer.

[2016-01-27 19:37] wseltzer opened #26 "Duplicate "deliverables"?"
Since the group's potential deliverables are described in Section 2.1, it's not clear what function Section 3 serves. This was confusing to a reader.

[2016-01-27 19:39] wseltzer opened #27 "Extraneous sentence in success criteria (2.4)?"
The first sentence of 2.4, " If the Working Group successfully identifies at least one candidate protocol or API in this manner, it may suggest a charter for further work in this area." looks out of place. (in what manner?) Should that sentence be deleted?

[2016-01-27 22:15] wayneca commented on #26
There is always a scope section and a deliverables section in W3C WG Charters.  Each of those is a requirement in the [W3C Process Document](https://www.w3.org/2015/Process-20150901/#WGCharter)

Between the two of them it has to be clear what specs the WG is permitted to produce with enough detail that those considering joining can evaluate what types of patent licensing may be required.

In many

[2016-01-27 22:32] wayneca commented on #27
Left over from other Charter that was used as a template?  Definitely doesn't belong here.

[2016-01-28 06:38] martinpaljak commented on #8
How is mentioning native messaging not OK but mentioning web services is OK? Both are technologies for achieving a "transport layer".

There are two approaches: realistic iterative improvement and architecture astronautics. There can't be a "web-way" that contradicts everything happening in real life, nor should we be creating any (that would be the architecture astronautics)

For example, lets ta

[2016-01-28 11:02] drogersuk commented on #27
Agree, we should get rid of that.

[2016-01-28 11:19] cyberphone commented on #8
Native messaging is happening on a grand scale like the Chrome-to-Android interface suggested (and recently also implemented) by Google.

Google is effectively leading this development through their since long shipping native messaging solution in Chrome desktop which Mozilla and Microsoft have publicly indicated that they intend to support.

Since none of the existing WGs or TAG have shown intere

[2016-01-28 12:59] wseltzer commented on #26
Then the connection between the two needs to be made clearer, such as "Deliverables will be identified from among those listed in 2.1" -- and the group doesn't have to recharter to select among those, I hope!

[2016-01-28 14:23] wseltzer commented on #27
Proposed PR 28:  https://github.com/w3c/websec/pull/28

[2016-01-28 23:10] wayneca commented on #8
@cyberphone Just to be clear [Google's Native Messaging](https://developer.chrome.com/extensions/nativeMessaging) is an API for use only by Browser extensions or separate trusted applications.  Has Google proposed that API for use by arbitrary Web pages?

@martinpaljak

@martinpaljak  RESTful Web Services are something that already exists that Web pages can already use through W3C specs.  Native m

[2016-01-29 06:03] cyberphone commented on #8
@wcarr First off, these are _very difficult topics_ which haven't been discussed much in public forums.

Anybody can write a browser extension and getting it published on the Chrome store.  The called native application is not a part of the publishing (or granting) process.  Extensions may be called from _any_ Web page. That is, there's no concept of "trusted application" in the current scheme  wh

[2016-01-29 09:53] rigow commented on #23
merged your pull request

[2016-01-29 09:53] #23 closed, assigned to nobody

[2016-01-29 09:55] rigow commented on #27
yes and yes, merged PR #28

[2016-01-29 09:55] #27 closed, assigned to nobody

[2016-01-29 10:06] rigow commented on #6
I think this is moot now

[2016-01-29 10:06] #6 closed, assigned to nobody

[2016-01-29 10:09] rigow commented on #8
@vgalindo and me have talked with @martinpaljak on the phone to resolve the issue. I think it is understood that we want to create a layer of interoperability that, in its implementation, requires some local code, but is not just a pipeline into execution of local code. So I think this can be closed now

[2016-01-29 10:09] #8 closed, assigned to nobody

[2016-01-29 11:16] rigow commented on #14
Created PR #32 and will merge soon

[2016-01-29 11:16] #14 closed, assigned to nobody

[2016-01-29 11:34] rigow commented on #1
fixed with PR #32

[2016-01-29 11:34] #1 closed, assigned to nobody

[2016-01-29 11:41] rigow commented on #9
as indicated the comment has been addressed

[2016-01-29 11:41] #9 closed, assigned to nobody

[2016-01-29 11:42] rigow commented on #26
PR #28 from @wseltzer now merged into gh-pages

[2016-01-29 16:16] wseltzer commented on #26
My PR was on a different issue. This language is still unclear. I added PR 33 https://github.com/w3c/websec/pull/33

[2016-01-29 16:35] wayneca opened #35 "[hasec charter] wild card deliverable for Web Payments"
The restricted scope items are supposed to be narrowly scoped to be able to determine what types of technologies may be licensed.  They should not be open ended.

The restricted scope item pasted above is not meant to be a specific kind of spec.  The item pasted in above seems to be access to anything that could be of use.  If it belongs anywhere in the charter, it should be in the more general sc

[2016-01-29 16:43] wayneca opened #36 "[hasec charter] SysApp Secure Element access to hardware tokens"
From the Restricted Scope Items

The SysApps WG tried to create a common mechanism for accessing hardware tokens by defining a message channel to secure elements that arbitrary messages could be sent on.  There was no support at all for that from the Browser vendors (and not much support from anyone else).  There were concerns about the security of allowing this type of access from a Web page.

I

[2016-01-29 18:27] wseltzer commented on #22
https://github.com/w3c/websec/pull/37 suggests gh repo webauthn and public-webauthn (for the list)

[2016-02-02 15:34] rigow commented on #26
this was merged yesterday

[2016-02-02 15:34] #26 closed, assigned to nobody

[2016-02-02 21:24] #22 closed, assigned to nobody

[2016-02-04 01:37] swickr opened #41 "[hasec charter] Success Criteria should include a publishing deliverable"
Section 2.4 Success Criteria places a lot of emphasis on discussion and little on producing documents.

At a minimum, the second bullet could change from "elaboration of a NOTE" to "publishing a WG NOTE".  A further improvement would be to add bullet(s) saying that the Group will have selected at least one (and preferably more) of the Restricted Scope items and published a Recommendation-track spe

[2016-02-04 01:49] swickr opened #42 "[hasec charter] Clarify "specific deliverables""
Section 3.1 Recommendation-Track Deliverables speaks of rechartering in its penultimate sentence.  Clarify whether the intention is to allow Recommendation-Track deliverables that address a Restricted Scope item to be produced under this charter or not.  Is the intent that rechartering is [only] necessary to add Restricted Scope items beyond those currently listed?

The final sentence of 3.1 contr

[2016-02-04 01:54] swickr opened #43 "[hasec charter] Unusual disenfranchisement of Invited Experts"
Section 7. Decision Policy states that consensus is determined without the inclusion of any Invited Experts.  Why are Invited Experts disenfranchised this way in this group?

I suggest using the conventional text "...consensus among the Working Group participants ..."

[2016-02-04 02:05] swickr opened #44 "[hasec charter] put new storage mechanisms out of scope"
2.1 Restricted Scope, item Secure Hardware Storage API, has the sentence

This is too weak.  The Hardware Security WG should not define new storage mechanisms.  This WG should (if it chooses to work on this Restricted Scope item) propose secure enhancements to the existing Web Platform storage APIs.

Recommended rephrasing:

[2016-02-04 19:38] wayneca commented on #42
@swickr I proposed wording #46 to specifically say the group is permitted to produce specs under the Restricted Scope Items.  Those are listed outside the charter in a place given in the Charter.

The part about rechartering to add a REC was meant to say that the WG can also specifically add a REC track deliverable to the charter if they want to.  But, they don't have to if already permitted to cr

[2016-02-04 20:09] wayneca commented on #44
@swickr  I created a PR for the suggested wording. #48  Sounds good to me.

[2016-02-05 20:10] swickr commented on #42
Thanks @wcarr; #46 mostly works for me.  I've made some final comments there.

[2016-02-10 13:07] rigow commented on #42
Merged the agreed wording into gh-pages

[2016-02-10 13:07] #42 closed, assigned to nobody

[2016-02-10 13:08] rigow commented on #44
merged agreed text into gh-pages

[2016-02-10 13:08] #44 closed, assigned to nobody

[2016-02-10 13:11] rigow commented on #43
This text came from the template used. You may want to address that with Doug who's at the origin of the template. I will address this with another PR

[2016-02-10 14:20] rigow commented on #43
resolved with PR #52

[2016-02-10 14:20] #43 closed, assigned to nobody

[2016-02-10 14:30] rigow commented on #35
Currently, the text says: "_The Working Group will liaise with the Web Payments Working Group on web payments access. The expected non normative deliverables with Web Payments WG are use case and an architecture document, focusing on payment integration in the web payment API designed when payment means relies on hardware._ for unrestricted. So would removing the restricted text still address one

[2016-02-10 15:10] vgalindo commented on #41
@rigo
I agree, lets implement that.
Proposed resolution :
One or several recommendations will be developed from the use case and requirements, after priority management by the WG.

[2016-02-10 15:17] vgalindo commented on #36
@rigo @drogersuk lets find a better wording for clarifying the expected mecanism (not a permission, but rather a contextual information, linked with origin that avoids replay)
Action : me to suggest something...

[2016-02-10 15:23] vgalindo commented on #35
@rigow @drogers lets fix that by removing the sentence from the restricted scope, we have the 3.2 paragraphe addressing that already

[2016-02-10 15:42] rigow opened #54 "Comments from Judy on Accessibility"
At a minimum the charter should set a precautionary dependency on accessibility by specifying a liaison to the Accessible Platform Architectures (APA) WG https://www.w3.org/WAI/APA/.

Suggested addition under 4.1 Internal Liaisons:
Accessible Platform Architectures (APA) WG https://www.w3.org/WAI/APA/ to identify and address potential accessibility issues on the level of UI, APIs, and assistive te

[2016-02-10 15:51] rigow commented on #54
resolved with PR #55

[2016-02-10 15:51] #54 closed, assigned to nobody

[2016-02-10 16:01] rigow commented on #41
done with PR #56

[2016-02-10 16:01] #41 closed, assigned to nobody

[2016-02-10 16:11] rigow commented on #35
Done with PR #57

[2016-02-10 16:11] #35 closed, assigned to nobody

[2016-02-11 19:41] wayneca opened #59 "[hasec charter] flexible copyright for some specs"
W3C has two copyright licenses.  One of them allows flexibly shifting work back and forth with a Community Group.  That's particularly useful for specs without input incubator specs where related work may be done in a CG.  It also allows continued use and modification of specs if they bog down due to lack of Browser implementation.  This proposal would only apply to the Secure Worker Restricted Sc

[2016-02-12 11:20] vgalindo commented on #36
@rigow @drogersuk @wcarr
Proposed resolution:
I suggest that we *_remove *_ that item from the list of deliverables. The objective we are looking for is to make sure that access to hardware token services is controlled and can not be replayed, this may not lead to developing an actual specification, but rather describe a set of security measures in the APIs we will develop (aka, service session id

[2016-02-12 11:23] vgalindo commented on #59
@wcarr question on my side : why would you apply the flexible scheme only to few items and not others ?

[2016-02-12 14:22] vgalindo commented on #59
@rigo can u allocate that issue to #hasec label ? thxs

[2016-02-12 18:21] wayneca commented on #59
@vgalindo I'd prefer it to be applied to all the deliverables from the WG.  But, if there are objections to using it for some of the deliverables, it should be applied to at least those restricted scope items I listed.

That text is based on the [W3C Web Platform WG Charter](https://www.w3.org/2015/10/webplatform-charter.html#licensing).  It's also in the [proposed W3C Device and Sensor WG Charter

[2016-02-12 19:13] wayneca commented on #59
#58 and #60 are two alternatives for wording for this issue.  #60 addresses @vgalindo comment

[2016-02-16 15:29] vgalindo commented on #59
@wcarr  We need to proceed with the AC review, and we lack time to ask all current supporters their view on the licensing aspects. I suggest that we proceed with the member review and that you bring this at that point.

[2016-02-17 16:49] wayneca commented on #36
+1 for removing it as a separate item

[2016-02-17 17:05] wseltzer commented on #36
@rigow, @drogersuk are we good with https://github.com/w3c/websec/pull/62 ?

[2016-02-17 17:36] wayneca opened #64 "[hasec charter] conducts tech work on mailing list? or GitHub too"
from [proposed hasec charter](https://w3c.github.io/websec/hasec-charter#communication):

Is that intended or will technical discussions occur on GitHub as is becoming common in WGs?  e.g. see recent [Web Authentication WG Charter](https://www.w3.org/2015/12/web-authentication-charter.html#communication).

[2016-02-19 15:22] rigow commented on #64
Wayne, do you believe we should determine whether we should use google searches while working on HASEC? Or intel chips? I think you're going into too much detail. The boilerplate text is over 10 years old and is mainly there to indicate that the group is working in public.

[2016-02-19 15:22] #64 closed, assigned to nobody

[2016-02-19 15:30] rigow commented on #59
A community group offers less assurances for development than a WG. So why would we shift stuff between some not yet existant CG and the WG? Note that taking on work that has been developed in a CG and where the CG participants have signed the final CG agreement is a well designed process within W3C. The Web Platform WG or former HTML(5) WG had very special challenges from some of its participants

[2016-02-19 15:30] #59 closed, assigned to nobody

[2016-02-19 15:53] rigow commented on #36
Accepted proposed fix as agreed with the chairs with PR #62

[2016-02-19 15:53] #36 closed, assigned to nobody

[2016-02-19 17:13] vgalindo commented on #64
@wcarr @rigow The use up to now is to let the Working Group choosing its way of working - even if I will be suggesting that we favor github usage, we have to make sure everyone agrees and can access github. So lets address that once the group is created...

[2016-02-19 18:35] wayneca commented on #64
@rigow @vgalindo

The boilerplate being used says "This group primarily conducts its technical work on the public mailing list at public-hasec-wg@w3.org (archive)."

Recent WG charters (pointer events, web authentication) that don't say anything about GitHub use the sentence: "Technical discussions for this Working Group are conducted in [public](https://www.w3.org/2015/Process-20150901/#confident

[2016-02-20 20:22] martinpaljak commented on #36
As has been told many times, exposing a plain "APDU pipe" to secure elements (thus implying that a secure element MUST be something that speaks APDU-s) as a uniform transport channel (and exposing this to the web) was, is, and will be a mediocre idea, for reasons too many to repeat here.

But removing a uniform access approach from the deliverables list basically means (at least to me) that intent

[2016-02-21 08:25] cyberphone commented on #36
@martinpaljak (and @wcarr @rigow @draggett @vgalindo @drogersuk) It is obvious that the "pipe" as you call it is where the _market_ is going.

In Android 6, App Linking has been upgraded (http://developer.android.com/training/app-links/index.html) and the recent Android fix for "talking back" to the Web suggested (and implemented) by Google for the Web Payment API effort shows that this feature is

[2016-02-22 12:14] sepulo commented on #36
@cyberphone Browsers made a very sluggish move to handing SE and the requirement has already emerged. They let the requirement grow and now push them toward a hasty decision. Although providing an APDU pipe seems a hasty design decision but - in absence of a better suggestion - appears inescapable.

[2016-02-22 12:59] cyberphone commented on #36
@sepulo If you follow the link I provided you will find that it is not a pipe to SEs that I and @martinpaljak suggest, but a pipe from the Web to the Native/App layer.  This is similar (but much better) than the (now deprecated) NPAPI and ActiveX solutions.  Such a scheme would enable innovation by third parties rather than total dependence on 2-3 browser vendors.

[2016-03-13 18:47] wayneca opened #65 "[hasec charter] How can hasec specs be used for Web Payments WG?"
The question has come up how the [proposed Hardware Security WG](https://www.w3.org/2015/hasec/2015-hasec-charter.html) would be of use for the Web Payments WG.  The draft [Web Payments API draft](https://w3c.github.io/browser-payment-api/specs/architecture.html) calls for payments apps that are native code used by the Browser, with no way to provide that through a Web page and associated server.

[2016-03-14 08:52] wayneca opened #66 "[hasec charter]add Web Authentication WG to charter, no overlap"
The Web Authentication WG should be added to the hasec wg charter in the [internal liaisons section](https://w3c.github.io/websec/hasec-charter#coordination).  In the [Out of Scope section](https://w3c.github.io/websec/hasec-charter#scope), add that the hasec WG will not overlap the scope of the Web Authentication WG, that it will not define competing ways to authenticate the user to the Web Serve

[2016-03-14 08:55] wayneca opened #67 "[hasec charter] create branch for charter changes during W3C membership review"
Create a branch that includes changes to the Charter to address issues that are raised during membership consideration of the Charter without changing that version of the charter.

[2016-03-14 08:59] wayneca opened #68 "[hasec charter] Note that Secure Element API from SysApps is out of scope"
In the [Out of Scope section](https://w3c.github.io/websec/hasec-charter#scope), add that the Secure Element API as in the [SysApps WG](https://www.w3.org/2012/sysapps/) is not in scope under this Charters Restricted Scope Items, and that the WG would have to recharter to work on a spec like that.

[2016-03-14 09:14] wayneca opened #69 "[hasec charter] remove Binding mechanism restricted scope item"
To avoid confusion of overlap with the Web Payments WG, remove the Binding mechanism restricted scope item.  #65 shows hasec can be used for Web Payments without adding that item.

In Web payments, an invoice could be a json object that is digitally signed by the merchant.  That could be passed to the Payment app by the Browser, and the Payment app could return the previously digitally signed invo

[2016-03-14 09:25] wayneca opened #70 "[hasec charter] add a section on incubation drafts in CG"
Add a section that says FPWD's will not be published until there are incubator drafts with general acceptance in the hasec WG and some indicator of implementer participation and interest in implementing the drafts.  This incubator work could be done in one or more CGs.  This addresses concerns that have been raised in the past that publishing FPWDs when a WG is exploring possible directions can ca

[2016-03-14 09:47] wayneca commented on #59
@rigow You can always take your own work elsewhere, but you can't necessarily take improvements made by the group that transforms that work.

It isn't just the HTML WG using the more permissive W3C license.  It is used by the proposed Device and Sensor WG and the Web Payments WG and most recent charters.

The proposed specs in this group typically do not have incubator specs.   That is increasingl

[2016-06-29 08:42] vgalindo commented on #70
The charter has been finalized.

[2016-06-29 08:42] #70 closed, assigned to nobody

[2016-06-29 08:42] vgalindo commented on #69
the charter has been finalized.

[2016-06-29 08:42] #69 closed, assigned to nobody

[2016-06-29 08:43] vgalindo commented on #68
the charter has been finalized.

[2016-06-29 08:43] #68 closed, assigned to nobody

[2016-06-29 08:43] vgalindo commented on #67
The charter has been finalized.

[2016-06-29 08:43] #67 closed, assigned to nobody

[2016-06-29 08:44] vgalindo commented on #66
the charter has been finalized.

[2016-06-29 08:44] #66 closed, assigned to nobody

[2016-06-29 08:44] vgalindo commented on #65
the charter has been finalized.

[2016-06-29 08:44] #65 closed, assigned to nobody

[2016-06-29 08:51] vgalindo opened #71 "Edito suggestion - Section I - Introduction"
**replace**
This document is proposing some use cases where the web apps could benefit from those secure services. In addition, in order to demonstrate the feasibility of such secure services, the hardware based secure services community group has chosen two services, for which some API will be suggested and some protoypes will be developed. Those services are the secure transaction confirmation a

[2016-06-29 10:20] vgalindo opened #72 "Edito suggestion - Section 3 Use cases - introduction sentence"
**replace**
QUESTION: Need to provide here names of well-known customers to help pushing the standards to browser makers?
Several services, requiring some security guarantees, thus being deployed on hardware based technology, are already existing in native environments.

**by**
The hardware based technology is already used in a number of use cases, which are particularly sensitive to security atta

[2016-06-29 10:26] vgalindo opened #73 "Edito suggestion - section 3.1 Governments with eID for digital public services access and usage"
**replace**
3.1 Governments with eID for digital public services access and usage
    eEstonia
    Belgium eID with eService ecosystem
    Sweden: Tax Agency card, Telia eID
    Norway: ID-porten
    Any other middleware based local solution

**by**
3.1 national electronic identity for accessing public services.
As of today, a large number of european countries have deployed electronic identity, a

[2016-06-29 12:55] #71 closed, assigned to sbahloul

[2016-06-29 12:55] #72 closed, assigned to sbahloul

[2016-06-29 12:55] #73 closed, assigned to sbahloul

[2016-06-29 15:22] vgalindo opened #74 "Edito suggestion - section 3.3.2 Banks with smartcards for corporate operations signature"
**Replace**
3.2 Banks with smartcards for corporate operations signature
To request to a bank

**by**
3.2 Financial transaction signature, with user consent
The remote access to financial account, together with the electronic fund transfer are now part of citizen habits in developed countries. Most of the banks do offer in their account package this remote management service. In some conditions, u

[2016-06-29 15:31] vgalindo opened #75 "Edito suggestion - section 3.5 the expectation from secure services"
**Replace** :
3.5 The expectation from secure services
Whatever is the envisaged use case, signing a tax payment, confirming a transaction payment, validating the signature of a document, the service needs to rely on a genuine signature and user control. The two features that hardware-based secure services community group members elected to test are related to those strong expectations.

**by**
3.

[2016-06-29 15:45] vgalindo opened #76 "Edito suggestion - section 4 - Secure transaction and secure credential API"
**Replace**
4. Secure transaction and secure credential API
This section contains the API description and the different rationale for the architecture and design choices.
Note : all use cases are envisaged with a pre-existing key set.

**By**
4. Secure transaction and secure credential storage APIs
This section contains the API descriptions and the different rationale for the architecture and desi

[2016-06-29 15:52] vgalindo opened #77 "Edito suggestion - good practice in numbering sections"
_Section numbering should follow some guidelines such as no floating text between a first title and a second one._

**Exemple in section 4.1.
Instead of having :**
"4.1 Secure transaction interface
This subpart of the API is relying upon pre-existing keys.
[NoInterfaceObject]
enum UVMMode { "passive", "presence", "os", "active" };
[...] "
and explanation text starts in a section 4.1.1.

**You may

[2016-06-30 07:35] #74 closed, assigned to sbahloul

[2016-06-30 07:35] #75 closed, assigned to sbahloul

[2016-06-30 07:35] #76 closed, assigned to sbahloul

[2016-06-30 07:35] #77 closed, assigned to sbahloul

[2016-06-30 13:55] vgalindo opened #78 "Edito suggestion - section 4.1.2 description"
**Replace**

4.1.2 Description
To give the assurance to a remote entity that a transaction is confirmed. Confirm that what was sent was communicated to the user, and what was displayed to the user is what was confirmed (What You See Is What You Confirm)

**by** :

4.1.2 Secure transaction API details
The secure transaction confirmation aims to give the assurance to a remote entity that a transacti

[2016-06-30 13:58] #78 closed, assigned to sbahloul

[2016-07-01 14:41] vgalindo opened #79 "clarification - 4.1.2 Secure transaction API details"
in section 4.1.2 Secure transaction API details
--> in the paragraph starting with 'This first section covers the various usages of keys', it is not clear what is _this_. Same in the next sentence 'These use cases are not highly sensitive...'. Whar are _these_ ?

[2016-07-01 14:48] vgalindo opened #80 "clarification - 4.1.2 Secure transaction API details"
In the sentence :
'use cases are not highly sensitive in terms of transaction context confidentiality, which means that standard SOP rules are considered sufficient without any need for end-to-end encryption (like secure messaging).'

--> 2 remarks
The CG should wonder is we want to have this API being operated only in the context of Priviledged Context [https://www.w3.org/TR/secure-contexts/] or

[2016-07-01 15:14] vgalindo opened #81 "clarification - 4.1.2 Secure transaction API details"
in the following text : "To avoid context swapping, it is mandatory that the non-repudiation message contains specific data for the requested transaction with the requesting party, the purpose of the transaction and the date of the operation."

It is not clear for a non-expert what is the 'non-repudiation message'. How do you correlate that with the API proposal ?
--> I would prefer that you first

[2016-07-01 15:26] vgalindo opened #82 "clarification - 4.1.2 Secure transaction API details"
In the paragraph
"What it should not be:
  full list of terms and conditions - but it can be the operation to confirm that the end-user agree with a particular version of the terms and conditions
    a generic operation request because it would not be scoped".

--> It is not clear what is a "generic operation".

[2016-07-01 15:41] vgalindo opened #83 "clarification - 4.1.2 Secure transaction API details"
The sentence : "The user has accepted the context (and liability may rely only on that context in regards to this cryptographic operation) But thanks to that he/she has produced with its own cryptographic key the binary data signature. "
--> Ig i got the intention clear, you may remove _But thanks to that he/she has produced_ and replace by _by producing_

[2016-07-01 15:46] vgalindo opened #84 "editorial - 4.1.2 Secure transaction API details"
**Replace  the security note**
SECURITY NOTE: it could occur that the binary data are altered before signature by a malware or javascript or even the browser. So the altered binary data would be successfully signed on the user agent side. But in this case this is up to the relying party responsibility to check that the data and the context received are signed with the same key and and that the bin

[2016-07-06 08:13] sbahloul commented on #82
I propose to add the following sample: a generic operation request because it would not be scoped (i.e: "Do you confirm this signature operation ?" or "Do you want to confirm the authentication ?")

[2016-07-06 08:21] #79 closed, assigned to sbahloul

[2016-07-06 08:22] #83 closed, assigned to sbahloul

[2016-07-06 08:22] #84 closed, assigned to sbahloul

[2016-07-11 09:31] brunojav opened #85 "Editorial remark - Some typos found"
Please find attached to patches with small typos in hbss.html

[0001-some-typos.patch.txt](https://github.com/w3c/websec/files/356791/0001-some-typos.patch.txt)
[0002-typos.patch.txt](https://github.com/w3c/websec/files/356790/0002-typos.patch.txt)

[2016-07-11 09:34] brunojav opened #86 "Editorial remark - Inconsistent sentences"
It seems some remarks, or editorial attempts are still in the document hbss.html :

Line 85:        [...] integrating those technologies. still here but not the browser access, The need to use secure services in all types of application (native, web app, hybrid) is becoming important, especially on the mobile devices.  [...]

Line 89:        <p>Single Origin Policy: one main matter of interest of

[2016-07-12 11:48] #86 closed, assigned to sbahloul

[2016-07-12 11:48] #85 closed, assigned to sbahloul

[2016-07-12 12:04] sbahloul commented on #81
I propose to manage this issue through two actions :
- transaction context = non repudiation message
- move the security elements from 4.1.2 to a new section 4.1.6 Security considerations

[2016-07-12 12:13] sbahloul commented on #80
To be reviewed today

[2016-07-13 07:12] brunojav opened #87 "Detailing Java comparison in Secure Credential Storage API"
I would propose to add some details regarding Java, which is a good example of what can be done.

[sentence I propose to update](https://github.com/w3c/websec/blob/gh-pages/hbss.html#L532) to :

And a link in Informative References  : [Java Cryptography Architecture
(JCA) Reference Guide](http://docs.oracle.com/javase/7/docs/technotes/guides/security/crypto/CryptoSpec.html#Introduction)

[2016-07-25 15:52] mark-orz opened #88 ""Latest version" link does not work"
URL for the document is currently:
https://rawgit.com/w3c/websec/gh-pages/hbss.html

Where will it be hosted eventually?

[2016-07-25 16:01] mark-orz opened #89 "1. Introduction"
"The open web platform is running on diverse devices, such as tablet, PC, smart phone, and cars systems."
Change to
"The open web platform runs on diverse devices such as tablets, PCs, smart phones, and cars' systems."

"Secure element and TEE can offer some services, which are names secure services, as their merits in term of integrity and confidentiality are improved. "
Change to
"Secure element

[2016-07-25 16:22] mark-orz opened #90 "1.1 Terminology"
"•Secure Service: any service that should manage sensitive operations and that would benefit of/depends upon the use of an hardware based security solution."
Change to
"•Secure Service: any service that manages sensitive operations and would benefit from/depend upon the use of an hardware based security solution."

"•Origin: in reference to the Single Origin Policy, an origin is referred in this d

[2016-07-25 17:07] mark-orz opened #91 "2. Problem Statement"
"This document is targeting to define the next generation Javascript API for hardware based keys management and usage, including two specific features :the secure transaction confirmation and the secure credential storage. "
Change to
"This document aims to define the next generation Javascript API for two specific requirements for hardware based key management and usage: Secure transaction confir

[2016-07-25 17:11] mark-orz opened #92 "3. Use cases"
"The hardware based technology is already used in a number of use cases, which are particularly sensitive to security attacks. "
Change to
"Hardware based services are already used in a number of domains which are particularly vulnerable to security attacks."

"The following use cases are detailing how hardware based technology are used today in different areas, in native environment."
Change to
"

[2016-07-25 17:24] mark-orz opened #93 "3.1 National electronic identity for accessing public services"
"As of today, a large number of european countries have deployed electronic identity, and do offer their citizen the access to to governement services such as paying tax, managing pensions."
Change to
"As of 2016, a large number of European countries have already deployed electronic identity systems and offer their citizens access to government services such as paying tax or managing pensions."

"

[2016-07-25 17:30] mark-orz opened #94 "3.2 Financial transaction signature, with user consent"
"real signature"
Change to
"digital signature"

"In that case, the signature will be made on a serie of data, including the amount and the destination and source of the transaction, plus some additional information, as desired by the bank."
Change to
"The data signed by the user generally includes the amount and destination of the transaction, plus additional information as desired by the bank."

[2016-07-25 17:42] mark-orz opened #95 "3.2.1 French ecosystem"
"In France, a trusted issuing certificate authorities list is maintained by the Finances Ministry in order to manage corporate identities Certificate authorities used to manage the face to face identity verification and deliver smartcards or USB tokens."
Change to
"In France, a list of trusted issuing certificate authorities is maintained by the Finance Ministry. The face-to-face verification of i

[2016-07-25 17:42] mark-orz opened #96 "3.3 Transparent device authentication for online payment confirmation on 3DSecure scheme"
Opening an issue because this section is still to be written.

[2016-07-25 17:43] mark-orz opened #97 "3.4 : there is no section 3.4"
Renumber section 3.5 as 3.4

[2016-07-25 17:47] cyberphone commented on #91
It seems unwise mentioning what next versions should be capable of without having analysed if there actually is a reasonable solution to this problem.

This use-case has already been dismissed by the browser vendors.

[2016-07-25 17:51] mark-orz opened #98 "4. Secure transaction and secure credential storage"
"Those feature do rely on the presence of a credential, lets call it a key. "
Change to
"Those functions rely on the presence of a credential, referred to here as a key."

"parralel" change to "parallel"
"a mechanisms" change to "a mechanism"

[2016-07-25 17:51] mark-orz opened #99 "4.1.2 Secure transaction API details"
Note in this paragraph the importance of having a Trusted User Interface available, which should include both a trusted display and a trusted return path for the user's confirmation.

[2016-07-25 17:59] mark-orz opened #100 "4.1.3 Data types"
"It means that the user experience and process are the one provide by the OS itself including recovery procedures which may have their strengths own weaknesses."
Change to
"The user experience of verification (including recovery procedures) is the same as provided natively by the OS itself, which may carry its own strength or weakness."

[2016-07-25 18:19] mark-orz opened #101 "4.1.6 Security considerations"
If we are going to ask the user to confirm a list of terms and conditions, obviously we do not wish the full list of T&Cs to be included in the non-repudiation data. But how do we otherwise ensure that the version of the T&Cs displayed to the user is the same as the one signed by the user? Simply getting the user to sign a hash of the T&Cs is not sufficient, unless the full list of T&Cs is display

[2016-07-25 20:45] sbahloul commented on #88
The right link is https://rawgit.com/w3c/websec/gh-pages/hbss.html. I fix it.

[2016-07-25 21:01] sbahloul commented on #91
We discuss about that and try to define various approaches (browser based  with user explicit consent like cameras, organized protocol like the following: https://github.com/w3c/websec/blob/gh-pages/hb-secure-services/SafranIdentitySecurity_Authorization-model-for-Javascript-usage-of-hardware-based-keys.pdf) which may not be the right one but we definitely think there is an acceptable approach.

Y

[2016-07-25 21:10] sbahloul commented on #93
This section is oriented to hardware based solutions.

[2016-07-25 21:13] sbahloul commented on #93
The mention here is about ISO/IEC 7816 (https://en.wikipedia.org/wiki/ISO/IEC_7816) => I fix it

[2016-07-25 21:20] sbahloul commented on #95
FYI: it's about identifying individuals acting on behalf of the company.

[2016-07-25 21:21] sbahloul commented on #95
TAN stands for Transaction Account Number which can be OTP sent by SMS or computed thanks to OATH or EMV/CAP tokens. I add it the explanation inline.

[2016-07-25 21:33] sbahloul commented on #99
I am not sure to understand the security properties you are thinking about this path: do you mean that we should deal with the interception of the final result of the operation or more specifically about the strength of the link between the trusted display and the secure credential storage ?

[2016-07-25 21:35] sbahloul commented on #96
Virginie: did you get the contact details of Brian@VISA ?

[2016-07-25 21:58] sbahloul commented on #101
I agree with you about the complexity of the T&Cs in regards to an end-user consent and more generally to any document signature.

Specifically about T&C consent / signature: I would expect that the T&Cs will be signed thanks to an end-user confirmation and those signed T&Cs will be downloadable to allow a end-user double check. Which means that the signature does not apply to each and every page

[2016-07-25 21:58] cyberphone commented on #91
@sbahloul "Transaction Confirmation JS API" sounds nice but is actually pretty fishy.

Since Apple already have a productized solution offering HW security and transaction confirmation, it seems that this effort is about reinventing the wheel.

[2016-07-25 22:06] sbahloul commented on #91
@cyberphone You are welcome to contribute and share your thoughts within the Community Group (https://www.w3.org/community/hb-secure-services/participants) - the call is tomorrow at 4PM French time :).
At this time the group is working to define a proposition to leverage existing SE/smartcards and make  use of SE/TEE available in the different devices available in everyone's pocket.

[2016-07-25 22:08] #100 closed, assigned to sbahloul

[2016-07-25 22:08] #98 closed, assigned to sbahloul

[2016-07-25 22:08] #97 closed, assigned to sbahloul

[2016-07-25 22:09] #95 closed, assigned to sbahloul

[2016-07-25 22:10] #89 closed, assigned to sbahloul

[2016-07-25 22:10] #90 closed, assigned to sbahloul

[2016-07-25 22:10] #92 closed, assigned to sbahloul

[2016-07-25 22:10] #93 closed, assigned to sbahloul

[2016-07-25 22:11] sbahloul commented on #81
No feedback => closing, will reopen if needed

[2016-07-25 22:11] #81 closed, assigned to sbahloul

[2016-07-25 22:12] sbahloul commented on #82
No feedback => closing. Will reopen if needed

[2016-07-25 22:12] #82 closed, assigned to sbahloul

[2016-07-25 22:12] #88 closed, assigned to sbahloul

[2016-07-25 22:12] #94 closed, assigned to sbahloul

[2016-07-25 22:18] #87 closed, assigned to sbahloul

[2016-07-26 04:39] cyberphone commented on #91
@sbahloul I'm unfortunately not available 4PM but what I'm proposing is by no means new information, it just got a bit more relevant after witnessing _Apple taking the same path_ (https://developer.apple.com/videos/play/wwdc2016/703/), albeit using a _proprietary_, _application-specific_ solution.  The core problems you are facing include:
- There is currently no "Trusted Code" concept for the Web

[2016-07-26 11:11] mark-orz commented on #99
The point I was trying to make was that, as well as having a trusted path between the Secure Element and the display (so that the user is shown exactly the information to be signed), there also needs to be a trusted path between the user's input device (e.g. keyboard or push-button) and the Secure Element. If this path is not trusted, the Secure Element could be fooled into believing that the user

[2016-07-26 11:25] mark-orz opened #102 "4.2 Secure Credential Storage"
Change "UA" to "user agent", or better still, provide a definition in section 1.1.

Change "importation" to "importing"

[2016-07-26 11:37] mark-orz opened #103 "4.2.1.2 HardwareSecureDeviceManager Interface"
"The notion of presence is important because an hardware secure device MAY not always be stucked in the same environment (like an embedded secure element, a TEE...) but MAY be shared with severals (like with a Smartcard, an NFC card...)."
Change to
"The notion of presence is important because a hardware secure device may not always be fixed in the same hardware environment as the user agent (e.g.

[2016-07-26 11:42] mark-orz opened #104 "4.2.1.3 HardwareSecureDevice Interface"
"It can be viewed as a cryptographic provider bringing cryptographic capabilities of an hardware device to the WebCrypto API in a transparrent maner."
Change to
"It can be viewed as a cryptographic provider bringing cryptographic capabilities of a hardware device to the WebCrypto API in a transparent manner."

[2016-07-26 12:43] sbahloul commented on #103
Fix for correction 1 and 2. Need to discuss on the call today about the third point.

[2016-07-26 12:48] #102 closed, assigned to sbahloul

[2016-07-26 12:48] #104 closed, assigned to sbahloul

[2016-07-26 14:30] sbahloul commented on #103
Initial definition
- Hardware Secure Device  => include Secure Element + TrustedUI

[2016-07-26 14:32] sbahloul commented on #101
Need to put a sentence to explain that it is not perfect but that it would be acceptable

[2016-07-26 14:46] sbahloul commented on #80
Add in 6. TODO

[2016-07-26 14:46] #80 closed, assigned to sbahloul

[2016-07-26 14:50] sbahloul commented on #101
Proposition; ... to be considered as an acceptable tradeoff between what the TrustedUI is able to display and what the user cannot deny

[2016-07-26 14:53] sbahloul commented on #103
So I propose to:
- use Hardware Secure Device for the addition of Secure Element and TrustedUI
- use Trusted UI only when identifying the display part
- use Secure Element or Secure Credential Storage to identify the storage and processing unit

[2016-07-26 15:00] sbahloul commented on #99
This is something new we need to add to the doc: can I considered to add your following mention in the Section 5 ?

[2016-07-27 05:02] cyberphone opened #105 "3.1 Sweden's eID"
Although there is a Tax agency and Telia eID card, practically everybody uses an entirely different solution called Mobile BankID which also is used for mobile banking.  Recently the system has been upgraded for authorizing P2P payments.  Note: all these services are based on the same credential.

It may in this context be interesting knowing that after the browser vendors announced that they woul

[2016-07-27 05:49] cyberphone commented on #99
A major problem with the Secure Transaction API is that it doesn't work for payments since payments systems do not put user display data into the transaction stream.  That is, the display may show one thing but the actual signature operation (=result) probably works on a much lower level like is the case for EMV.

[2016-07-27 07:59] brunojav opened #106 "[hbss] a remark regarding scope"
Line 110, paragraph 2.Problem Statement : "issue and use identity keys (whether they [...]"

[2016-07-27 08:47] brunojav commented on #106
In addition, paragraph 4.2.1.5, do we keep "generateKey" and "ImportKey" methods ?

[2016-07-27 08:51] brunojav opened #107 "[hbss] Editorial remark - Some typos"
Some small typos listed below :
typos :
Line 86 : <li>[...] the genuine user is authorized to used the keys. [...]
    to : <li>[...] the genuine user is authorized to use the keys. [...]

Line 95 : <p> [...] Secure Services Community Group as being as key to enabling a strong security and identity ecosystem.</p>
    to : <p> [...] Secure Services Community Group as being as key to enable a strong

[2016-07-27 08:52] brunojav opened #108 "[hbss] Editorial remark - In case of printing document"
In order to have a better reading I'd propose :

Line 9 from <body> to <body style="text-align: justify;">
Line 107 from : embed the sentence in &lt;p&gt;&lt;/p&gt; to avoid this sentence stuck to next paragraph. (seems &lt;p&gt; and &lt;ul&gt; are not compatible)

[2016-07-27 09:09] brunojav opened #109 "[hbss] regarding paragraph 5"
As we discussed especially yesterday on paragraph 5, I had a look and to me, it is ok but maybe the title can be changed to a more generic one like "Implementation details", "Implementation requirements" or so.

[2016-07-27 09:40] cyberphone commented on #91
Anne van Kesteren (a Mozilla web architect and esteemed W3C member) have expressed the following thoughts which supports my claim that powerful APIs in the Web like HB-Secure-Services are unlikely to happen: https://annevankesteren.nl/2016/07/web-computing

What he is missing is that there are no unsolvable problems problems combining the Web and Store worlds.  Well, bugs will happen and some apps

[2016-07-27 12:55] cyberphone commented on #99
@mark-orz @sbahloul @brunojav I believe that when you have gone over all the issues will come to the same conclusion I did sometime back in 2015 (after several failed attempts coming up with a reasonable Web solution...), which is that you need "installable" trusted Web applications having similar privileges as native applications.

Although imaginable, this would indeed be an entirely different p

[2016-07-27 20:00] cyberphone commented on #99
For some applications like payments a Web-2-App scheme enables the same App code (with moderate parameterization), to  be used locally using NFC which also is a feature of Apple's and Google's recent wallet versions.

[2016-07-28 05:02] cyberphone opened #110 "4.2.2 Permission"
Converted to practice: http://webpki.org/papers/permissions.pdf

[2016-07-28 12:21] acouvert commented on #106
I would say yes, the idea is to keep the same functionalities offered by the current WebCrypto API but ran into an hardware based secure device instead. I know for now we assume that the keys are pre-provisionned, to keep things simpler, and so generateKey and ImportKey are not yet useful. But for me, those features would make sense later in an hbss environment that's why I chose to also add the o

[2016-07-28 13:15] sbahloul commented on #110
And so ?

[2016-07-28 13:17] sbahloul commented on #105
If I understand you, the mobile app is not relying on any secure device, so this is out of scope of the CG

[2016-07-28 13:27] cyberphone commented on #105
The reason why Mobile BankID does not rely on security hardware is not because the banks don't want such, it is rather the absence of a credentialing standard supporting TEEs that made them default to "App" security.  I'm unable to tell if the CG intends supporting "platform" level key provisioning or not.  AFAIK, FIDO tokens support both the Web and "Apps".

[2016-07-28 13:32] cyberphone commented on #110
Well, it is (for me at least), not evident what kind of permission requests you are planning and their interpretability for non-expert users.

[2016-07-28 13:39] sbahloul commented on #107
Hi Bruno

I didn't catch the following point:

Line 767 : But there is no capability to add middleware. It is up the OS manufacturer to provide support for the
to : But there is no capability to add middleware. It is up to the OS manufacturer to provide support for the

[2016-07-28 13:45] sbahloul commented on #108
Fixed in all the document

[2016-07-28 13:48] #107 closed, assigned to sbahloul

[2016-07-28 13:48] #109 closed, assigned to sbahloul

[2016-07-28 13:48] #108 closed, assigned to sbahloul

[2016-07-28 14:08] mark-orz commented on #103
I support that suggestion. Please review the terminology used throughout the document to make sure it is consistent with the above.

[2016-07-30 04:45] cyberphone opened #111 "Comparison with WebAuthentication/FIDO?"
It is to me not entirely clear what HB Secure Services will offer that isn't already a part of FIDO and W3C's WebAuthentication efforts.  A comparison list would be much appreciated.

This is however not only a technical issue because the "competing" efforts have browser vendor support and the activity on the public mailing list is very high.

Since we are talking about a 3 year process (at least)

[2016-08-04 14:31] mark-orz commented on #99
Not wishing to disagree or dismiss cyberphone's comments, but the original issue was a note to have a trusted path between the user's input device and the secure element, and sbahloul's proposed addition to section 5 fixes that. Suggest cyberphone raises a separate issue for his concerns.

[2016-08-04 14:41] cyberphone commented on #99
@mark-orz It is the trusted path to the display (=the Web) which is missing.  This can (AFAIK) only be achieved through built-in browser "chrome".  I don't see how you could define such chrome in a way that matches a myriad of different applications.

[2016-08-06 09:14] cyberphone commented on #96
3D Secure is a "workaround" which more recent schemes like Apple Pay doesn't need.

[2016-08-06 14:44] cyberphone commented on #91
https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/13612338-native-messaging

[2016-08-18 10:08] vgalindo commented on #91
I suggest we close that issue as it has a corresponding commit and no new information has been brought.

[2016-08-18 10:10] vgalindo commented on #96
As of today, no news from Visa, I guess we should remove that section.

[2016-08-18 10:12] vgalindo commented on #99
I suggest we close the issue as a corresponding resolution has been agreed by Mark https://github.com/w3c/websec/issues/99#issuecomment-235295667

[2016-08-18 10:38] vgalindo commented on #101
@sbahloul sounds good to me.
Thanks for your commit :)
Lets close this issue

[2016-08-18 10:41] vgalindo commented on #111
@cyberphone
There is already a paragraph mentioning that problem
"Position to FIDO and WebAuth standards: this document is focusing on providing web developers means to issue and use identity keys (whether they are X509 certificates or any other cryptographic model with underlying asymmetric cryptography). FIDO standards is related to device authentication: in the FIDO vision, it is up to the rely

[2016-08-18 10:43] vgalindo commented on #110
@cyberphone This IG does not intend to solve all the problem, the permission aspects will be implementation specific.
@sbahloul I suggest we close this issue

[2016-08-18 10:45] vgalindo commented on #106
@brunojav can you live with those functions integrated in the report, as suggested by @acouvert ?
@sbahloul If yes, I suggest we close this issue.

[2016-08-18 10:47] vgalindo commented on #105
@cyberphone @sbahloul guys, I dont get that conversation. Is there any suggested change to the report ?

[2016-08-18 10:48] vgalindo commented on #103
@sbahloul @mark-orz seems like a consensus, lets commit that consistency check and close the issue....

[2016-08-18 11:05] cyberphone commented on #111
There's no compelling use-case for SOP-constrained certificates.  FIDO is fully sufficient for SOP-constrained authentication.

Adding support for existing (non SOP-constrained) certificates has already been dismissed by the browser vendors who rather want to _remove_ such support with &lt;keygen&gt; as the first example.

[2016-08-18 13:36] vgalindo opened #112 "problem statement (by KM)"
Section 2: Problem Statement
Text: In this document, we assume that:
• pre-existing keys and X509 certificates are under the full control of the end-user
• any API issued key MUST only be managed and used by its own origin
Question: Isn’t second bullet contrary to the goals of this document?

[2016-08-18 13:36] vgalindo opened #113 "Extension (by KM)"
Text: Extensions will be added later to authorize various origins to use and manage a particular key.

Comment:  Shouldn’t the APIs be developed in this document to enable various origins to use and manage a particular key?

[2016-08-18 13:37] vgalindo opened #114 "Transport Layer (by KM)"
Section 3.1: National Electronic Identity for Accessing Public Services
Text: The native environment of the citizen device, or of the public service office, is able to access to the hardware token, thanks to a transport layer (USB, ISO 7816 / 14443, Bluetooth Low Energy ...).

Question: Who defines the transport layer?

[2016-08-18 13:38] vgalindo opened #115 "Hardware Token usage consistency (by KM)"
Section 3.2: Financial Transaction Signature, with User Consent
Text: That last step requires the user to use some credentials, distributed by the bank, usually stored in a secure container, such as a hardware based token (USB token or proximity token).

Section 3.2.1: French ecosystem
Text:  Without the capability to rely upon Secure Elements in the browser, banks currently face a major issue in

[2016-08-18 13:39] vgalindo opened #116 "multiple origin key (by KM)"
Section 4: Secure transaction and secure credential storage APIs
Text: The Community Group is in parallel also working on the definition of a mechanism to allow an entity to use some keys generated by another entity, but this requires the definition of a new type of data, associated with a specific key, and this is for future deliverable. Note : all use cases are envisaged with a pre-existing key

[2016-08-18 13:40] vgalindo opened #117 "Why a dedicated API for secure transaction ? (by KM)"
Section 4.1: Secure Transaction Interface
Comment:  It is not clear why new methods are defined instead of extending the existing CryptoAPI functions as it is done in Section 4.2.

[2016-08-18 13:41] vgalindo opened #118 "Confirm method (by KM)"
Section 4.1.4.1:  The Confirm Method
Text: This step can be bypassed if the user has registered a preferred key for this origin, but then the key should be presented with the NRMessage.
Question:  What is the difference between “NRMessage” and “data”?  Also, Confirm method seems to be very similar to Sign method and does not seem to be necessary.

[2016-08-18 13:41] vgalindo opened #119 "Permission and MUST (by KM)"
Section 4.2.2: Permission
Text: UA MUST not start to exchange with an Hardware Secure Device without the express permission of the user
Question: Should this be a “MUST” requirement.  Isn’t this dependent on the UVMMode?

[2016-08-18 14:55] vgalindo commented on #112
This remark demonstrates that the statement about the multiple versus single domain key usage is not clearly stated. The report should state that :
"There is a need for multiple domain key usage, but that this work will be treated later or when the CG will be a WG."
(I need to find the appropriate location for such statement)

[2016-08-18 14:57] vgalindo commented on #113
See https://github.com/w3c/websec/issues/112

[2016-08-18 14:58] vgalindo commented on #114
My understanding is that th transport layer os out of scope fo this CG, as it will be up to the browser the bridge the actual physical connection with the hardware based token.

[2016-08-19 13:50] cyberphone commented on #110
@sbahloul @vgalindo HTTPS client-certificate authentication is AFAIK currently the only browser-supported subsystem/API that is used with secure hardware such as smart cards.  It does not require user permissions of the kind mentioned in the report.

Apple's recently previewed Apple Pay for the Web is built around their "Security Enclave" HW, and it doesn't need such permissions either.

What I'm

[2016-08-22 09:15] brunojav commented on #106
yes, I can totally live with it and I do agree with Aurelien that for future use there is a point to include "write" features. My question was only regarding coherence of the document.
In a way, credentials generation is more complex and can be kept for future discussions.

[2016-08-29 13:21] vgalindo opened #120 "terminology clarification (by rigo)"
1.1 Terminology
**"Secure Service"** definition sounds strange in security terminology. A system is secure (along the lines of FIPS and E4 specs) if it behaves as defined and expected.

**"Relying party".** An application can never be a "party". The use of the word here is misleading

**"Issuing authority"** needs a better explanation. HB-SEC assumes a system where end-users are authenticated by t

[2016-08-29 13:24] vgalindo opened #121 "secure transaction confirmation (by rigo)"
It would be great to adresss "scoped bearer tokens" in the sceure transaction confirmation. Like, to add the origin context into the transaction to avoid replay attacks. The current text rather looks to me like unscoped bearer tokens.

[2016-08-29 13:27] vgalindo opened #122 "Secure credential storage (by rigo)"
"This API relies on the existing but enhanced WebCrypto API to support key naming"
-->
"This API relies on the existing WebCrypto API and provide some additionnal feature to support key naming"
(the enhanced web crypto api does not exist)

[2016-08-29 16:49] #99 closed, assigned to sbahloul

[2016-08-29 16:50] #101 closed, assigned to sbahloul

[2016-08-29 17:20] sbahloul commented on #105
Not from my point of vue: we are working at W3C to update web interfaces, not mobile APIs.

[2016-08-29 17:21] #106 closed, assigned to nobody

[2016-08-29 17:22] #113 closed, assigned to sbahloul

[2016-08-29 17:27] sbahloul commented on #117
Good idea, I change it !

[2016-08-29 17:33] sbahloul commented on #118
NRMessage stands for Non Repudiation Message. It is the piece of information that the Trusted UI component should display and which the end-user should agree.

The data can be much larger (for example a PDF document) and will be signed with the same key at the same time. But because the data presentation cannot be managed in Trusted UI environment, the signed data should be considered as an additi

[2016-08-29 17:35] sbahloul commented on #119
The UVMMode is a switch when the end-user has already accepted to allow the relying party to use the Hardware Secure Device. If there were no end-user authorization, it would allow a third party to track the end-user by generating and using keys which would not be acceptable from a privacy perspective

[2016-08-29 22:54] sbahloul commented on #114
I have also the same understanding.

[2016-08-29 23:05] #111 closed, assigned to nobody

[2016-08-29 23:11] sbahloul commented on #115
Virginie: maybe we can make a reference to the Audkenni.is / Valimo deployment in Iceland leveraging UICC ?

[2016-08-29 23:18] sbahloul commented on #116
May I kindly ask where you see the corresponding text ? We specifically add a sentence in the Problem Statement to notice that "Extensions will be added later to authorize various origins to use and manage a particular key."

[2016-08-29 23:20] #110 closed, assigned to nobody

[2016-08-29 23:23] sbahloul commented on #103
I go through the different sections and change the consistency. If you can have a quick look again, it would be perfect

[2016-08-29 23:26] #96 closed, assigned to vgalindo

[2016-08-29 23:27] #91 closed, assigned to sbahloul

[2016-08-29 23:29] sbahloul commented on #122
Fixed

[2016-08-29 23:29] #122 closed, assigned to rigow, acouvert

[2016-08-29 23:31] #117 closed, assigned to sbahloul

[2016-08-29 23:31] #105 closed, assigned to sbahloul

[2016-08-29 23:31] sbahloul commented on #121
@rigow Rigo: but the API already includes the origin which is the URL of the requesting website. What do you want to add here ?

[2016-08-30 07:43] sbahloul commented on #120
I propose the following improvements :
- "Secure Service" : Secure Service: any web site that manages sensitive operations and would benefit from/depend upon the use of an hardware based security solution to give the security proof of the user confirmation integrity and non repudiation
- "Relying party": The term party is commonly used in Identity and Access Management. But we can restrict the doc

[2016-08-30 10:05] vgalindo commented on #114
@sbahloul  I suggest we close this issue.

[2016-08-30 10:27] vgalindo commented on #120
@rigow can you check that this proposal adresses your concerns ? Thxs

[2016-08-30 11:52] sbahloul commented on #120
Regarding "Definition of Origin": I confirm that the definition matches both the key origin and the secure service origin because the document deals with the various use cases (same origin between the keys and the requested web site or different origins). I propose to mention the origins (web site vs key origin) explicitely

[2016-08-30 15:36] Ketan2016 commented on #116
2nd and 3rd paragraph of Section 2, Problem Statement leads me to believe that this document will be addressing the identified limitation of Single Origin Policy.

"For example, Suppose that a domain foo.com issues a key. Because the key is not accessible by JavaScript API from another domain, we have to design a secure system where the domain bar.com is allowed to use this key."

[2016-08-30 16:05] cyberphone commented on #116
@sbahloul @Ketan2016 Yes, this text is unclear.  It also seems risky claiming that a future revision **_will_** address this limitation (which BTW is not called _Single_ but _Same_ Origin Policy).  A future revision **_may_** address this issue since we currently have no idea how that would be achieved.

[2016-08-31 13:54] mark-orz commented on #103
The use of "Secure Credential Storage" to refer to both the use-case and the actual hardware device ("A secure credential storage is a tamper proof device, providing a secure storage and execution environment for sensitive data and processing") is confusing. Can we use "Secure Element" to refer to the tamper proof device, in the context of both Transaction Confirmation and Secure Credential Storag

[2016-08-31 14:29] mark-orz commented on #120
Cross-referencing issue #103, I find the use of "Secure Credential Storage" to refer to both the hardware and the use-case confusing. I would prefer to use "Secure Element" for the hardware.

"Trusted user interface": I don't think we should exclude browsers (the present phrasing "User interface component outside the direct browser scope" appears to exclude browsers) but should acknowledge that an

[2016-08-31 15:27] sbahloul commented on #103
Ok, I agree, let's change it this way

[2016-09-02 09:26] #114 closed, assigned to sbahloul

[2016-09-02 09:30] #103 closed, assigned to sbahloul

[2016-09-02 09:34] sbahloul commented on #120
Regarding the Trusted UI, I don't know how an implementer could manage such additional level of security directly inside the browser implementation, but I understand your comment and integrate it.

[2016-09-02 09:56] sbahloul commented on #120
I propose the following definition: Trusted User Interface: User interface component that provides an additional level of security to the existing browser capabilities in regards to the transaction confirmation message presented to the end-user to acquire its acknowledgment. It covers both the display of the information and the input of the user verification method.

[2016-09-02 10:00] sbahloul commented on #119
@Ketan2016

[2016-09-02 10:00] sbahloul commented on #118
@Ketan2016: do you agree with the explanation ?

[2016-09-02 10:19] sbahloul commented on #116
To be clearer, I propose the following rework of the corresponding paragraphs. Did you agree with it ?

[2016-09-02 10:19] sbahloul commented on #116
The management of keys is associated with the problem of key usage. On the open web platform, the security principle that prevails everywhere is the Same Origin Policy. The corresponding mapping regarding keys would be that the service issuing the key should be the same the service using the key. But in many use cases, the service using the key should be different from the one that has initially i

[2016-09-02 10:47] Ketan2016 commented on #116
You don’t need to make any changes to the document.  I think we need to discuss this topic at the meeting.

[2016-09-02 10:49] Ketan2016 commented on #118
Yes, I am good with the explanation.

[2016-09-02 10:52] Ketan2016 commented on #119
Ok, I understand.

[2016-09-02 10:52] #119 closed, assigned to nobody

[2016-09-02 10:53] #118 closed, assigned to sbahloul

[2016-09-02 10:56] sbahloul commented on #116
ok, done

[2016-09-02 13:37] sbahloul commented on #112
@vgalindo proposes to add it after "Single Origin Policy: one main matter of interest of the hardware-based secure services community group members is how to protect key usage considering the special use case where the credentials are used outside their issuing origin. For example: Suppose that a domain foo.com issues a key. Because the key is not accessible by Javascript API from another domain,

[2016-09-02 13:39] #112 closed, assigned to vgalindo

[2016-11-07 14:19] sbahloul opened #124 "Explicit mention that the keys managed are only asymmetric"

[2016-11-07 15:03] sbahloul opened #125 "Add an identity attribute retrieval API"
Provide an API to support:
* dynamic attribute name discovery
* secured attributes value retrieval

[2016-11-07 15:04] sbahloul opened #126 "Manage an exclusive channel between the browser, the initial origin and the card"

[2021-05-06 11:33] burghard-britzke-drv opened #131 "support for general (hardware backed) cryptographic signatures and key exchange"
As expressed in https://github.com/w3c/webauthn/issues/1608 there is a need for a standard support of cryptographic signatures with a hardware support (e. g. crypto-tokens or smart cards). The W3C WebAuthn WG decided not to support these needs inside WebAuthn framework.
I suggest to initiate a new WG on the topic WebSigning and partition the frameworks in such a way that parts of the W3C WebAuthn

[2021-05-07 23:09] ghost commented on #131
Adding my support for this!

I am a bit wary of a whole new working group/spec though. My guess is it'll take much longer to achieve browser adoption than if this new functionality is added to a spec they've already adopted, like WebAuthn or WebCrypto. I posted that issue in the WebAuthn GitHub issues and, to this end, made a similar post in the WebCrypto one ([here](https://github.com/w3c/webcryp

[2022-01-07 00:03] dcow commented on #131
+1. I'd like to see encryption and decryption support (if that's not already implied) so e.g. a user's soft keys for some application could be encrypted at rest using an HSM backed key.